/* 
 * Font settings come from:
 *     https://www.jmu.edu/identity/our-style/typography.shtml
 */

* {
    color: #333333;
}

h1, h2, h5 {
    color: #450084;
    font-family: "Arvo", sans-serif;
    margin-top: 1em;
}

h3, h4, h6 {
    color: #450064;
    font-family: "Arial", sans-serif;
    margin-top: 1em;
}

h1 {
    font-size: 24px;
}

h2, h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 12px;
    letter-spacing: .75px;
}
