@import 'fonts.css';
@import url('https://fonts.googleapis.com/css?family=Arvo');

* {
 box-sizing: border-box;
}

*:before,
*:after {
 box-sizing: border-box;
}

/*
 * Header styling
 */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}

header {
    height: 100px;
    text-align: center;
    background-color: #F4EFE1;
    vertical-align: middle;
    line-height: 100px;
}

.jmu-logo {
    display: inline;
    height: 100px;
    vertical-align: middle;
}

h1 {
    display: inline;
    vertical-align: middle;
}

/* Navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #450084;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

.right-nav {
    float: right;
}

.active {
    color: #333333;
    background-color: #CBB677;
}

nav ul li a:hover:not(.active) {
    color: #333333;
    background-color: #B599CE;
}

.body-wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 150px; /* height of your footer */
}

main {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

/* Generic content */

.left-content {
    margin-right: 4em;
    width: 300px;
}

.right-content {
    margin-right: 4em;
    width: 300px;
}

.middle-content {
    margin-left: auto;
    margin-right: auto;
}

#help, #logout {
    float: right;
    border: 0;
    background: inherit;
    color: #450084;
    cursor: pointer;
}

input, textarea {
    width: 100%;
    border-radius: .5em;
    box-sizing: border-box;
}

input[type=number], input[type=text], input[type=password], textarea {
    border: 2px solid #D6D6D6;
    padding: 12px 20px;
}

input[type=submit], button {
    height: 3em;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    background-color: #B599CE;
    color: #333333;
    width: 100%;
}

button {
    margin-top: .25em;
    margin-bottom: .25em;
}

input[type=submit]:hover, button:hover {
    cursor: pointer;
    background-color: #DACCE6;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #F4EFE1;
}

label {
    font-size: 1.25em;
    font-style: italic;
}

form * {
    margin: 2px;
}

/*
 * Footer
 */

footer {
    position: absolute;
    bottom: 0;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    background-color: #D6D6D6;
    padding: 1em 1em;
    width: 100%;
    box-sizing: border-box;
}

footer .dept {
    font-family: "Arvo", serif;
    font-size: 16px;
    color: #595959;
}

footer address {
    float: left;
    font-style: normal;
}

footer .footer-logo {
    float: right;
    height: 90px;
}
