{% extends "base.html" %}

{% block title %}Current Queue{% endblock %}

{% block content %}
<h2>Current Queue</h2>
{% if question_list %}
<p class="lead">A list of all current questions in the queue</p>
<table class="table">
    <thead>
        <tr>
            <th>Pos</th>
            {# Only TAs and professors can see student names #}
            {% if 'ta' in roles or 'professor' in roles %}
            <th>Name</th>
            {% endif %}
            <th nowrap>Class</th>
            <th nowrap>Professor</th>
            <th>Question</th>
            {% if 'ta' in roles or 'professor' in roles %}
            <th>Mark as Complete</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for question in question_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            {% if 'ta' in roles or 'professor' in roles %}
            <td>{{ question.student.user.first_name }} {{ question.student.user.last_name }} ({{ question.student.user }})</td>
            {% endif %}
            <td>{{ question.course }}</td>
            <td>{{ question.professor.user }}</td>
            <td>{{ question.question }}</td>
            {# Only TAs and Professors should be able to remove students from the queue, currently not functional #}
            {% if 'ta' in roles or 'professor' in roles %}
            <td><form method="POST" action="{% url 'question-done' %}">
                    {% csrf_token %}
                    <input type="hidden" name="question_id" id="question{{ question.id }}" value="{{ question.id }}">
                    <input type="hidden" name="completed" id="completed" value="true">
                    <input type="submit" name="submit" id="submit" value="Completed">
                </form></td>
                {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p class="lead">There are currently no questions in the queue</p>
{% endif %}

{% if 'student' in roles or not user.is_authenticated %}
<button class="btn btn-primary" onclick="location.href='{% url 'ask_question' %}';">Ask Question</button>
{% endif %}
{% endblock %}
