{% extends "base.html" %}

{% block title %}Available Shifts{% endblock %}

{% block content %}
<h2>Current Shifts</h2>
{% if shift_list %}
<p class="lead">Currently-assigned shifts</p>
<table class="table">
    <thead>
        <tr>
            <th>Course</th>
            <th>Start</th>
            <th>End</th>
            {% if 'professor' in roles %}
            <th>Assigned To</th>
            {% endif %}
            {% if 'ta' in roles %}
            <th>Request Coverage</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for shift in shift_list %}
        <tr>
            <td>{{ shift.course }}</td>
            <td>{{ shift.start }}</td>
            <td>{{ shift.end }}</td>
            {% if 'professor' in roles %}
            <td>{{ shift.owner }}</td>
            {% endif %}
            {% if 'ta' in roles %}
            <td class="align-middle text-right">
                <form method="POST" action="{% url 'post-shift' %}">
                    {% csrf_token %}
                    <input type="hidden" name="shift_id" id="shift{{ shift.id }}" value="{{ shift.id }}">
                    <input type="submit" class='btn btn-primary' name="submit" id="submit" value="Post">
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p class="lead">There are not any shifts currently assigned to you.</p>
{% endif %}

{% if 'professor' in roles %}
<button class="btn btn-primary" onclick="location.href='{% url 'add-shift' %}';">Add Shift</button>
{% endif %}

{% endblock %}
