{% extends "base.html" %}

{% load widget_tweaks %}

{% block head %}
<span class="page-title">{% block title %}TA Onboard{% endblock %}</span>
{% endblock %}

{% block content %}
<p>
    You can use this form to add yourself to the system and complete your TA profile.
    Here you can add your availability and preferred hours.
</p>
<div id="ta-onboard-wrapper">
    <form id="ta-onboard" name="ta-onboard" method="POST" action="">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}

        {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }}
            {% render_field field class="form-control" %}
        </div>
        {% endfor %}

        <input class="btn btn-primary" type="submit" value="Save Preferences">
    </form>
</div> <!-- #ta-onboard-wrapper -->
{% endblock %}
