header {
	text-align: center;
	margin: 25px 25px;
}

#title {
	display: inline;
}

#logout, #help {
	float: right;
	position: relative;
	margin: 5px 5px;
}

#addTA {
	text-align: center;
}

.formElem {
	margin: 5px 5px;
}