{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>
{% if form.errors %}
    <div class="alert alert-danger" role="alert">
        Your e-ID and password did not match. Please try again.
    </div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <div class="alert alert-warning" role="alert">
            You do not have access to view this page.
        </div>
    {% else %}
        <div class="alert alert-primary" role="alert">
            Please sign in to see this page.
        </div>
    {% endif %}
{% endif %}

{% include 'login_form.html' %}

<div class="container">
    <p>
        Please contact the JMU IT Help Desk if you have forgotten your password.
    </p>
</div>
{% endblock %}
