{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>
{% if form.errors %}
    <div class="alert alert-danger" role="alert">
        Your e-ID and password did not match. Please try again.
    </div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <div class="alert alert-warning" role="alert">
            You do not have access to view this page.
        </div>
    {% else %}
        <div class="alert alert-primary" role="alert">
            Please sign in to see this page.
        </div>
    {% endif %}
{% endif %}

<div style="width: 60%; margin-left: auto; margin-right: auto">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        {% for field in form.visible_fields %}
        <div class="form-group row">
            {{ field | add_label_class:"col-sm-2 col-form-label" }}
            {% render_field field class="form-control col-sm-10" %}
        </div>
        {% endfor %}

        <input class="btn btn-primary" type="submit" value="Login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    <p style="margin-top: 1em">
        Please contact the JMU IT Help Desk if you have forgotten your password.
    </p>
</div>
{% endblock %}
