{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Ask A Question{% endblock %}

{% block content %}
<h2>Ask A Question</h2>
<p>
    You can use this form to ask the TAs a question. You will be
    added to the queue and they will come assist you once it is
    your turn. Please be as detailed as possible with your
    problem/question description.
</p>
<div id="ask-question-wrapper">
    <form id="ask-question" name="ask-question" method="POST" action="">
        {% csrf_token %}
        <div class="form-group row">
            {{ form.course | as_crispy_field }}
        </div>
        <div class="form-group row">
            {{ form.professor | as_crispy_field }}
        </div>
        <div class="form-group row">
            {{ form.assignment | as_crispy_field }}
        </div>
        <div class="form-group row">
            {{ form.question | as_crispy_field }}
        </div>
        <input class="btn btn-primary" type="submit" value="Ask Question">
    </form>
</div> <!-- #ask-question-wrapper -->
{% endblock %}
