@import 'fonts.css';

/*
 * Header styling
 */

header {
    height: 50px;
    background-color: #450084;
    vertical-align: middle;
    line-height: 50px;
    color: #FFFFFF;
}

.header-text {
    font-family: "Arvo", sans-serif;
    color: #FFFFFF;
    display: inline;
    vertical-align: middle;
    font-size: 30px;
}

.page-head {
    height: 60px;
    background-color: #F4EFE1;
    vertical-align: middle;
    line-height: 60px;
}

.page-head .page-title {
    color: #450084;
    font-family: "Arvo", sans-serif;
    font-size: 28px;
    vertical-align: middle;
}

main {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Navigation */
.navbar-nav > li > a {
    line-height: 50px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav, .navbar {
    height: 50px;
}

.navbar-bg-gold {
    background-color: rgb(223, 210, 170);
}

.nav-item, .nav-link {
    color: #450084 !important;
    text-transform: uppercase;
}

.nav-item:hover {
    background-color: #AD9C65;
}


/* Generic content */

#help, #logout {
    float: right;
    border: 0;
    background: inherit;
    color: #450084;
    cursor: pointer;
}

.btn-primary {
    background-color: #450084;
    border-color: #450084;
}

.btn-primary:hover {
    background-color: #B599CE;
    border-color: #450084;
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #450084;
    border-color: #B599CE;
}

.btn-secondary {
    background-color: #FFBD00;
}

.btn-secondary:hover, .btn-secondary:not(:disabled):not(.disabled):active {
    background-color: #FFCC3E;
}
